home-assistant.log
home-assistant_v2.db
.ip_authenticated.yaml
ip_bans.yaml
.xbox-token.json
aircast.xml
harmony_8643839.conf
known_devices.yaml
secrets.yaml
OZW_Log.txt
phue.conf
pyozw.sqlite
sabnzbd.conf
zwcfg_0xeb0c9e39.xml
zwscene.xml
recorder.yaml
history.yaml

components/SERVICE_ACCOUNT.json
blueprints/
esphome/
mqtt/
packages/web_ping.yaml
www/floorplan/
www/custom-lovelace/popup_card/ps4.yaml

www/Thumbs.db
image/

.cloud/
.storage/
.TemporaryItems/
.vscode/


*.pid
*.xml
*.csr
*.crt
*.key
*.db-shm
*.db-wal

*.db-journal
lib
deps
tts

*.conf

.*
!/.gitignore