ip_bans.yaml
*.pid
*.xml
*.csr
*.crt
*.key
*.db-shm
*.db-wal
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
alarm.yaml
ui-lovelace.yaml
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore